
*{box-sizing: border-box;font-family: "Pretendard", "Apple SD Gothic Neo";}
p{margin:0}

/* pc css */
@media screen and (min-width:1180px) {

/* 공통 css */
body{margin: 0;}
section{position: relative; text-align: left;}
.pt100{padding-top: 120px;}
.pb100{padding-bottom: 120px;}
#PPcontentsPC,#PPcontentsMobile{padding: 0!important;}
#PPcontentsMobile{display: none;}
img{width: 100%; 
    image-rendering: pixelated;   
    image-rendering: -moz-crisp-edges; /* Firefox */ 
    image-rendering: -o-crisp-edges; /* Opera */ 
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */ 
    image-rendering: crisp-edges; 
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */ 
}

.wb{color: #555;}
.bb{color: #d0d0d0;}
.b33{background: #333;}
.b33 #sHeading,.b22 #sHeading,.bbgg #sHeading,.bbggReverse #sHeading{color: #fff!important;}
.b33 .pjText,.b22 .pjText,.b33 .pjBold,.b22 .pjBold,.bbgg .pjText,.bbgg .pjText,.bbggReverse .pjText,.bbggReverse .pjText{color: #D0D0D0!important;}
.b22{background: #222;}
.bff{background: #fff;}
.bff #sHeading{color: #333!important;}
.bff .pjText{color: #555!important;}
.bg44{background: #444;}
.widthBox{width: 1180px; margin: 0 auto; position: relative;}
.w30{width: 30%;}

#PPcontents{max-width: 100%;}

#topContents .topContentsBox{display: flex; position: relative; flex-direction: column;justify-content: space-between; overflow: hidden; width: 100%; max-width: 1400px; padding: 100px 0; background: rgba(28,28,28,0.8); margin: 0 auto; border-radius: 20px;   max-height: 800px;box-shadow: 0px 20px 20px rgba(0,0,0,0.25); }

#topContents .PPTtopTextBox{width: 100%; max-width: 1180px; z-index: 1; margin: 0 auto 120px; display: flex; align-items: flex-start; justify-content: space-between;}
#topContents .PPTtopText #ppTag{font-size: 14px; margin-bottom: 20px; font-weight: 700!important;} 
#topContents .PPTtopText #ppHeading{font-size: 56px; font-weight: 700!important; color: #fff; margin: 0;}
#topContents .siteLink{display: flex; text-decoration: none; align-items: center; width: fit-content; padding: 8px 16px; border-radius: 8px; background: #fff; color: #333; font-size: 16px; font-weight: 600; opacity: 0.6; transition: 0.3s;}
#topContents .siteLink:hover{opacity: 1;}
#topContents .stArrow{display: flex; margin-left:16px; justify-content: center; align-items: center; width: 24px; height: 24px; border-radius: 24px; background: #333; color: #fff; font-size: 16px; font-weight: 600;}
#topContents .PPTBottomText{max-width: 100%; z-index: 1;}
#topContents .PPTBottomText .btBox{max-width: 1180px; margin: 0 auto; display: flex; justify-content: space-between;}
#topContents .PPTBottomText .btBox .pbBox{padding: 40px; width: 32.5%; border-radius: 8px; background: #fff;}
#topContents .PPTBottomText .btBox .pbBox:last-child{margin-bottom: 0px;}

#topContents .tcBgBox{position: absolute; top: -50%; left: -50%; transform: translate(50%,50%); width: 100%; height: 100%;}
#topContents .tcBgBox > img{opacity: 0.2; width: auto; height: 105%;}


.pjCaption{font-size: 14px; margin-bottom: 16px;}
#fHeading{font-weight: 700!important; font-size: 16px!important; margin: 0 0 8px;}
.rTextBox{font-weight: 400; font-size: 16px; color: #333; margin: 0 0 8px;}
.pbFlexBox{display: flex;}
.pbFlexBox .rTextBox:first-child{width:40%} 

.pjInterview ,.pjListBox{max-width: 720px; text-align: left; padding:40px 120px; border-radius: 8px; background: #282828; margin: 0 auto 80px;}
.introImgBox{width: 50%; height: fit-content; padding: 40px; border-radius: 8px;}
.pIntroTag{text-align: center; width: fit-content; padding: 10px 16px 10px; border-radius: 100px; font-size: 18px; font-weight: 700; margin:0 auto 64px;}
.pjiFlex{display: flex; margin-bottom: 40px;}
    .pjiFlex:last-child{margin-bottom: 0;}   
    .pjiFlex .pjiImgBox{width: 44px; margin-right: 16px;}
    .pjiFlex .pjiWho{font-size: 15px; font-weight: 700; margin-bottom: 8px;}
    .pjiFlex .pjiText{padding: 12px; width: fit-content; border-radius: 0 12px 12px 12px; background: #333; color: #eee; line-height: 1.7; margin-bottom: 8px; font-size: 16px; font-weight: 400;}
    .lbContentBox{display: flex; line-height: 1.7; padding-bottom:24px; margin-bottom: 24px; border-bottom: 1px solid #555;}
    .lbContentBox:last-child{padding-bottom:0; margin-bottom: 0; border-bottom: 0 solid #555;}
    .lbHeading{width: 30%;  font-size: 15px; font-weight: 600; margin-bottom: 8px;}
    .lbText{width: 70%; font-size: 16px; line-height: 1.7; font-weight: 400; margin-bottom: 8px; color: #9A9A9A;}
    #pjIntro{padding: 140px 0;}
.pjiText .pjText{width: 70%; margin-bottom: 0;}
.pjBold{font-size: 17px; line-height: 1.7; font-weight:700; margin-bottom: 8px;}
.pjText{font-size: 17px; line-height: 1.7; font-weight:400; margin-bottom: 60px; margin-top: 0;}
.tBold{font-weight: 700!important; color: #fff; border-radius: 2px; padding: 2px 4px;}
.pjTextBox{text-align: center; margin-bottom: 160px;}
.pjTextBox:last-child{text-align: center; margin-bottom: 0}
#sHeading{font-size: 40px!important; font-weight: 700!important;line-height: 1.3; margin-top: 0; margin-bottom: 28px;}
.pjImgBox{width: 100%; margin-bottom: 80px;}
.pjImgBox:last-child{margin-bottom: 0;}
.pjImgBox > img{border-radius: 8px;}
.pjFlex{display: flex; justify-content: space-between; align-items: flex-end;}
.pjFlex .pjfImg{width: 23.5%; border-radius: 8px;}
.pjFlex .pjfImg > img{border-radius: 8px;}
.pjoImg > img{border-radius: 8px;}

.relBox{position: relative;}
.mediaModal{max-width: 310px; overflow: hidden; margin: 0 auto; border-radius: 8px; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}
.mediaBorderPC{width: 100%; border-radius: 16px; overflow: hidden; height: fit-content; border: 3px solid #000; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}
.mediaBorderM{max-width: 340px; height: fit-content; border: 3px solid #000; overflow: hidden; border-radius: 8px; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}
.mediaBorder{outline: 3px solid #000; border-radius: 8px; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}
.fsi > img{border-radius: 16px;}

/* 이미지 설명 라인 css */
.exLineBox{position: relative; top: 3px; left: 0; height: 20px; margin-bottom: 20px;}
.exBox{display: flex;}
.elbm44{margin-top: 44px;}
.elbm266{margin-top: 259px;}
.elbm184{margin-top: 184px;}
.exLineBox{display: flex; position: relative;}
.exLineBox .exlCircleo{width: 20px; height: 20px; display: flex; justify-content: center; align-items: center; border-radius: 20px; position: absolute;}
.exlcPl102{top: 0; left: -102px;}
.exlcPr102{top: 0; right: -100px;}
.exlcPr174{top: 0; right: -174px;}
.exlcPl24{top: 0; left: -24px;}
.exlCircleo .exlCirclei{width: 8px; height: 8px; border-radius: 8px;}
.exLine{position: absolute; height: 2px; align-self: center;}
.exlPt09{top: 9px; left: 0;}
.exlPl16{top: 9px; left: -16px;}
.exlwd460{width: 444px;}
.exlwd430{width: 444px;}
.exlwd72{width: 72px;}
.ml72{margin-left: 72px;}
.mt44{margin-top: 44px;}
.mt64{margin-top: 64px;}
.mt80{margin-top: 80px;}
.mt100{margin-top: 100px;}
.exBox44 .exLineBox{top: 44px;}

/* 세컨드마켓 css */
.smlcRight{background: linear-gradient(to right,#f17917,#f1791700) }
.smlcLeft{background: linear-gradient(to left,#f17917,#f1791700) }
.dbbg{position: absolute;top: 0;left: 0;width: 100%;}
.smIntroImgCaption{border-radius: 100px; text-align: center; font-size: 14px; font-weight: 400; color: #d9d9d9; margin-bottom: 16px;}
.smIntroImg{position: relative; border-radius: 100px; overflow: hidden;}
.smiCircleBox{display: flex; justify-content: space-between; margin:0 auto; padding: 22px;border: 1px solid #d9d9d9;border-radius: 100px;}
.smiCircle{width: 84px; height: 84px; background: #d4d4d4; font-size: 17px; font-weight: 700; color: #333; display: flex; justify-content: center; align-items: center; border-radius: 96px;}
.smBoxColor{background: #f17917!important;}
@keyframes smirotate {
   100%{rotate: 360deg;}
}
.bbgg{background: linear-gradient(#333,#000 );}
.bbggReverse{background: linear-gradient(to top, #333,#000 );}
.smc{color: #f17917;}
.smb{background: #f17917;}
.smb02{background: #f1791720;}
.smTag{color: #f17917; border: 1px solid #f17917; }
.saTop::after{content: ''; z-index: -1; position: absolute; bottom: 0; left: 0; background: #333; width: 100%; height: 870px;}
.pageExText{font-size: 17px; font-weight: 400; line-height: 1.7; margin-bottom: 40px;}
.saPageSimgBox{display: flex;justify-content: space-between; padding-bottom:160px;}
.saPageSimgBox .simg{margin-top: 100px;}
.saPageSimgBox .timg{margin-top: 200px; height: fit-content;}
.arrowImg{width: 27px; margin: 80px auto;}
.sapFlexBox{display: flex; justify-content: space-between;}
.sapImg{max-width: 748px;}
.saPageTimgBox{margin-bottom: 140px;}
.saPageFimg{margin-right: 80px;}



/* 마이페이지 */
.myPageSimgBox{margin-bottom: 160px;}
.msImgBox{padding: 40px; border-radius: 8px; background: #333;}
.msImgBox .exBox:first-child{margin-top: 18px;}
.msImgBox .pjText:last-child{margin-bottom: 0;}
.msImgBox > picture{width: 70%; height: fit-content; overflow: hidden; border-radius: 8px;}
.myPageTimgBox{display: flex; justify-content: space-between;}
.myPageTimgBox .tBox .exBox{display: flex;}
.myPageTimgBox .tBox .exLineBox{left: -106px;}
.myPageTimgBox .tBox .pjText:first-child{margin-bottom: 24px;}
.myPageTimgBox .tBox .pjText:last-child{margin-bottom: 32px;}
.myPageTimgBox > .fBox{min-width: 320px;}


/* 어드민페이지 */
.adminFsi{position: relative;top: -10px;left: 3px; z-index: -1; width: 99.5%;}

/* 배송기사 페이지 */
.driverPageSimgBox{display: flex; justify-content: space-between;}
.driverPageSimgBox .exBox{display: flex;}
.driverPageSimgBox .pjText{margin-bottom: 24px;}
.driverPageSimgBox .tBox{align-self: flex-end;}
}


/************************************** 태블릿 css **************************************/
@media screen and (min-width:720px) and (max-width:1179px) {
.sapImg, .saPageFimg{border-radius: 8px!important;}
.adminFsi{width: 100%; border-radius: 8px; overflow: hidden; height: fit-content; border: 3px solid #000; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}
#adminPage .pjImgBox::after{content:""; z-index: -1; display: block; width: 99%; height: 27%; background-size: cover; height: fit-content; background: cover url(https://i.postimg.cc/BsDTyCqK/sm-pc-16.jpg); position: relative; top: -3px;left: 3px;}
#topContents .PPTBottomText .btBox{max-width: 100%;  margin: 0 auto; display: flex; flex-direction: row;}
#topContents .PPTBottomText .btBox .pbBox{padding: 24px; flex-direction: column; width: 32.5%; border-radius: 8px; background: #fff;}
}


/******************** 모바일 css ********************/
/******************** 모바일 css ********************/
/******************** 모바일 css ********************/
/******************** 모바일 css ********************/
/******************** 모바일 css ********************/
/******************** 모바일 css ********************/
/******************** 모바일 css ********************/



@media screen and (max-width:1179px) {
    
    img{width: 100%;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges; /* Firefox */ 
        image-rendering: -o-crisp-edges; /* Opera */ 
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */ 
        image-rendering: crisp-edges; 
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */   
    }
    body{margin: 0;}
    section{position: relative; text-align: left;}
    #PPcontentsPC{display: none;}
    #PPcontentsMobile{display: block!important;}
    .wb{color: #555;}
    .bb{color: #949494;}
    .b33{background: #333;}
    .b33 #sHeading,.b22 #sHeading,.bbgg #sHeading,.bbggReverse #sHeading{color: #fff!important;}
    .b33 .pjText,.b22 .pjText,.b33 .pjBold,.b22 .pjBold,.bbgg .pjText,.bbgg .pjText,.bbggReverse .pjText,.bbggReverse .pjText{color: #D0D0D0!important;}
    .b22{background: #222;}
    .bff{background: #fff;}
    .bff #sHeading{color: #333!important;}
    .bff .pjText{color: #555!important;}
    .bg44{background: #444;}
    .ml15{align-self: flex-end;}
    .ma{margin: 0 auto;}
    #PPcontents{max-width: 100%;}
    #topContents{}
    #topContents .topContentsBox{display: flex;flex-direction: column;justify-content: space-between; overflow: hidden; position: relative; padding:48px 24px 24px; margin: 0 5%; border-radius: 16px;max-height: 800px; box-shadow: 0px 20px 20px rgba(0,0,0,0.25); }
    #topContents .PPTtopTextBox{max-width: 1180px; width: 100%; margin: 0 auto; display: flex; flex-direction: column;  justify-content: space-between; margin-bottom: 100px; z-index: 1;}
    #topContents .PPTtopText #ppTag{font-size: 13px; margin-bottom: 12px; font-weight: 700!important;} 
    #topContents .PPTtopText #ppHeading{font-size: 30px!important; font-weight: 700!important; color: #fff; margin:0 0 20px;}
    #topContents .PPTBottomText{max-width: 100%; z-index: 1;}
    #topContents .siteLink{display: flex; align-items: center; text-decoration: none; width: fit-content; padding: 8px 12px; border-radius: 4px; background: rgba(255,255,255,0); border: 1px solid #fff; color: #fff; font-size: 13px; font-weight: 500; transition: 0.3s;}
    #topContents .siteLink:hover{ background: rgba(255,255,255,1); color: #333;}

#topContents .stArrow{display: flex; margin-left:8px; width: 16px; height: 16px; justify-content: center; align-items: center;border-radius: 24px; background: #fff; color: #333; font-size: 13px; font-weight: 500;}
#topContents .tcBgBox{position: absolute; top: -50%; left: -50%; transform: translate(50%,50%); width: 100%; height: 100%;}
#topContents .tcBgBox > img{opacity: 0.2; width: 100%; height: auto;}
    #topContents .PPTBottomText .btBox{max-width: 100%;  margin: 0 auto; display: flex; flex-direction: column;}
    #topContents .PPTBottomText .btBox .pbBox{padding: 16px; border-radius: 8px; background: #fff; display: flex; align-items: flex-start; margin-bottom: 8px;}
    #topContents .PPTBottomText .btBox .pbBox #fHeading{margin:0 8px 0 0; white-space: no-wrap; font-size: 12px; font-weight: 600;}
    #topContents .PPTBottomText .btBox .pbBox:last-child{border-right: 0px;}
    .rTextBox{font-weight: 400; font-size: 12px; width: fit-content; white-space : nowrap; color: #333; margin-bottom: 8px;}
    .rTextBox:last-child{margin-bottom: 0px;}
    .pbFlexBox {display:flex;} 
    .pbFlexBox .rTextBox:first-child{width: 45%; margin-right: 8px;} 
    #sHeading{font-size: 24px!important; font-weight: 600!important;line-height: 1.3; margin-top: 0; margin-bottom: 16px;}
    .pjText{font-size: 15px; line-height: 1.7; font-weight:400; margin-bottom: 32px; margin-top: 0; max-width: 560px;}
    .tBold{font-weight: 400!important; color: #fff; border-radius: 2px; padding: 2px 2px;}
    .pt100{padding-top: 100px;}
    .pb100{padding-bottom: 100px;}
    .pjInterview, .pjListBox{max-width: 720px; padding:32px 5%; border-radius: 8px; background: #282828; margin-bottom: 40px;}
    .pjiFlex{display: flex;margin-bottom: 40px;}
    .pjiFlex:last-child{margin-bottom: 0px;}
    .pjiFlex .pjiImgBox{width: 40px; margin-right: 8px;}
    .pjiFlex .pjiWho{font-size: 14px; font-weight: 700; margin-bottom: 4px;}
    .pjiFlex .pjiText{width: fit-content; padding: 12px; border-radius: 0 12px 12px 12px; background: #333; color: #eee; line-height: 1.7; margin-bottom: 8px; font-size: 14px; font-weight: 400;}
    .lbContentBox{padding-bottom:24px; margin-bottom: 24px; border-bottom: 1px solid #555;}
    .lbContentBox:last-child{padding-bottom:0; margin-bottom: 0; border-bottom: 0 solid #555;}
    .lbHeading{font-size: 14px; font-weight: 600; margin-bottom: 8px;}
    .lbText{font-size: 14px; width: 85%; line-height: 1.7; font-weight: 400; margin-bottom: 8px; color: #9A9A9A;}
    .pIntroTag{text-align: left; width: fit-content; padding: 10px 16px 10px; border-radius: 100px; font-size: 14px; font-weight: 700; margin: 0 0 40px;}
    .pjCaption{font-size: 14px; margin-bottom: 8px;}
    .pjFlex{ position:relative; display: flex; flex-wrap: no-wrap;  overflow-x: auto; overflow-y: hidden;  margin-left: -8.5%; margin-bottom:80px ;}
    .pjFlex .pjfImg{width: 68%; max-width: 360px; border-radius: 8px; margin-right: 16px;flex: 0 0 auto;}
    .pjFlexBg{position: absolute;top: 0; right: 0; height: 100%; width:12.5%; background: linear-gradient(to left,rgba(34,34,34,1),rgba(34,34,34,0));}
    .pjFlex .pjfImg:first-child{margin-left: 7.5%;}
    .pjFlex .pjfImg:last-child{margin-right: 7.5%;}
    .pjfImg > img{border-radius: 8px;}
    .pjoImg > img{border-radius: 8px;}
    .widthBox{padding:0 7.5%; max-width: 720px; box-sizing: border-box;  width: auto; margin: 0 auto; position: relative;}
    .pjTextBox{text-align: left;}
    .pjTextBox:last-child{text-align: left; margin-bottom: 0}
    .introImgBox{height: fit-content; padding: 24px 16px; border-radius: 8px;}
    .pjiText .pjText{width: 100%; max-width: 720px; margin-bottom: 64px;}
    .relBox{position: relative;}
    .mediaBorderM{width: 85%; max-width: 340px; min-width: 280px; overflow: hidden; height: fit-content; border: 3px solid #000; border-radius: 8px; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}
    .mediaBorderPC{width: 100%; border-radius: 16px; overflow: hidden; height: fit-content; border: 3px solid #000; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}
    .mediaBorderPC > img{width: 100%;}
    .mediaModal{width: 80%; max-width: 320px; overflow: hidden;  border-radius: 8px; box-shadow: 10px 10px 20px rgba(0,0,0,0.25);}


    /* 세컨드마켓 css */

    .arrowImg{width: 24px; margin: 60px 0;}
    .saPageSimgBox{display: flex; flex-direction: column; justify-content: none; padding-bottom:80px;}
    .saPageSimgBox .simg{margin-top: 100px; margin-bottom: 32px;}
    .saPageSimgBox .timg{margin-top: 200px; height: fit-content;}
    .saPageSimgBox .simgTextBox{text-align: right;}




    .smlcRight{background: linear-gradient(to right,#f17917,#f1791700) }
.smlcLeft{background: linear-gradient(to left,#f17917,#f1791700) }
.dbbg{position: absolute;top: 0;left: 0;width: 100%;}
.smIntroImgCaption{text-align: center; font-size: 14px; font-weight: 400; color: #d9d9d9; margin-bottom: 16px;}
.smiCircleBox{display: flex; justify-content: space-between;max-width: 300px; margin: 0 auto; padding: 22px;border: 1px solid #d9d9d9;border-radius: 100px;}
.smiCircle{width: 64px; height: 64px; background: #d4d4d4; font-size: 14px; font-weight: 600; color: #333; display: flex; justify-content: center; align-items: center; border-radius: 96px;}
.smBoxColor{background: #f17917!important;}
.bbgg{background: linear-gradient(#333,#000 );}
.bbggReverse{background: linear-gradient(to top, #333,#000 );}
.smc{color: #f17917;}
.smb{background: #f17917;}
.smb02{background: #f1791720;}
.smTag{color: #f17917; border: 1px solid #f17917; }
.saTop::after{content: ''; z-index: -1; position: absolute; bottom: 0; left: 0; background: #333; width: 100%; height: 870px;}
.pageExText{font-size: 14px; font-weight: 400; line-height: 1.7; margin-bottom: 40px;}

.arrowImg{width: 27px; margin: 80px auto;}
.sapFlexBox{display: flex; flex-direction: column;}
.sapImg{ max-width: 760px;margin-right: -8%; margin-bottom: 32px; border-radius: 8px 0 0 8px;overflow: hidden;}
.sapImg > img{border-radius: 8px 0 0 8px;}
.saPageTimgBox{margin-bottom: 140px;}
.saPageFimg{max-width: 760px; margin-left: -8.5%; margin-bottom: 32px; overflow: hidden; border-radius: 0 8px 8px 0; }

/* 마이페이지 */
#myPage .fsi{width: 100%;}
.myPageSimgBox{margin-bottom: 160px;}
.msImgBox{padding: 40px; border-radius: 8px; background: #333;}
.msImgBox .exBox:first-child{margin-top: 18px;}
.msImgBox .pjText:last-child{margin-bottom: 0;}
.msImgBox > img{border-radius: 8px;}
.myPageTimgBox{display: flex; flex-direction: column;}
.myPageTimgBox .sBox{margin-bottom: 48px;}
.myPageTimgBox .tBox .exBox{display: flex;}
.myPageTimgBox .tBox .exLineBox{left: -74px;}
.myPageTimgBox .tBox .pjText:first-child{margin-bottom: 24px;}
.myPageTimgBox .tBox .pjText:last-child{margin-bottom: 32px;}
.myPageTimgBox > .fBox{min-width: 320px;}


/* 어드민페이지 */
.adminFsi{max-width: 760px; margin-right:-8%}

/* 배송기사 페이지 */
.driverPageSimgBox{display: flex; flex-direction: column;}
.driverPageSimgBox .exBox{display: flex;}
.driverPageSimgBox .pjText{margin-bottom: 24px;}
.numTextBox{display: flex; margin-top: 64px;}
.numTextBox .numBox{width: 24px; height: 24px; border-radius: 20px; background: #f17917; font-size: 14px; font-weight: 600; color: #fff;display: flex; justify-content: center; align-items: center; margin-right: 12px;}
}


